.idea

.gradle/7.0/executionHistory/

.gradle/7.0/fileHashes/

.gradle/7.0/javaCompile/

.gradle/buildOutputCleanup/

.gradle/checksums/

*.class

build/tmp/compileJava/

.gradle/6.2.2/executionHistory/

.gradle/6.2.2/fileChanges/

.gradle/6.2.2/fileContent/

.gradle/6.2.2/fileHashes/fileHashes.bin

.gradle/6.2.2/fileHashes/fileHashes.lock

.gradle/6.2.2/fileHashes/resourceHashesCache.bin

.gradle/6.2.2/gc.properties

.gradle/6.2.2/javaCompile/classAnalysis.bin

.gradle/6.2.2/javaCompile/jarAnalysis.bin

.gradle/6.2.2/javaCompile/javaCompile.lock

.gradle/6.2.2/javaCompile/taskHistory.bin

.gradle/6.2.2/fileHashes/

.gradle/6.2.2/javaCompile/

.gradle/6.2.2/

Recursos/build/

Carga De Horas/build/
