.project-table {
  border-collapse: separate;
  border-spacing: 10px 0px;
  width: 80%;
}

.delete-button {
  border: 1px solid black;
  margin: 20px;
  background-color: #e87a00;
  color: #001f3d;
}

.delete-button:hover {
  background-color: #ff5d00;
  color: white;
}

.delete-proyect-button {
  margin-right: 20px;
  background-color: #e87a00;
  color: white;
}

.delete-proyect-button:hover {
  background-color: #ff5d00;
  color: #001f3d;
}
.project-but {
  background-color: #ff5d00;
}
.tabla-detalles {
  width: 100%;
}
